@{
}
<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">© @DateTime.Now.Year Code And Game Academy. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">Made by <span class="text-primary-600">Code And Game Academy</span></p>
        </div>
    </div>
</footer>